[Desktop Entry]
Type=Application
Name=Wingmate
GenericName=Communication Aid
Comment=Native Linux voice communication aid
Icon=com.hojmoseit.wingmate
Exec=wingmate-kde
StartupWMClass=com.hojmoseit.wingmate
Categories=Utility;Accessibility;
Keywords=speech;communication;voice;accessibility;
Terminal=false
