[Desktop Entry]
Type=Application
Name=Wingmate
GenericName=Communication Aid
Comment=Native Linux voice communication aid
Icon=preferences-desktop-accessibility
Exec=wingmate-kde
Categories=Utility;Accessibility;
Keywords=speech;communication;voice;accessibility;
Terminal=false
